
.avatar  img {
    width:100%;
    max-width:200px;
    margin:auto;
}
.avatar{
    display:flex;
    justify-content:center;
}
.photos-table tbody{
    display:flex;
}
.photos-table img{
    max-width:300px;
}
.photos-table .miniature{
    width:200px;
    height:200px;

}